@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  color: #373737;
}
body {
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #373737;
  --darkGrey: #cfcfcf;
  --white: #f5f5f5;
  --brown: #9d806c;
  --lightPink: #f6d8d8;
  --darkPink: #be9696;
  --lightBlack: #414141;
  --mainBlack: #1b1b1b;
  --font: #373737;
  --letterSpacing1: 0.1rem;
  --letterSpacing: 0.3rem;
  --pink: linear-gradient(
    90deg,
    rgba(179, 160, 129, 1) 35%,
    rgba(218, 170, 143, 0.9444152661064426) 100%
  );

  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --lightShadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
}
/* tools*/
.github.icon {
  margin-top: 15px;
}
.extraCard {
}

.main-btn,
.banner-btn {
  display: inline-block;
  background: #b9a16e;
  text-decoration: none;
  letter-spacing: var(--letterSpacing1);
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  color: var(--mainDark);
  font-weight: bold;
  outline: 0.2rem solid #b5a275;
  outline-offset: 4px;
  cursor: pointer;
  border: none;
  margin-top: 2rem;
  font-family: "Raleway", sans-serif;
  transition: var(--mainTransition);
}
.main-btn:hover,
.banner-btn:hover {
  color: var(--mainWhite);
  opacity: 0.7;
}
.banner-btn {
  padding: 1.2rem 1.5rem;
  animation: show 3s ease-in-out 1;
}
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.section-title h4 {
  font-size: 1.5rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
  border-radius: 90px;
}

.section-title1 {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 1.5rem;
}
.section-title1 h4 {
  font-size: 1.5rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title1 div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
  border-radius: 90px;
}
/* end of Title */

/* Header*/
.header1 {
  position: relative;
  height: 40vh;
  display: block;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(600deg, var(--lightPink), var(--darkPink));
  transform-origin: 0px 0px;
  transform: skewY(-10deg);
  overflow: hidden;
  z-index: -1;
}
/* End Header*/

/* Homepage*/
.container {
  position: relative;
}

.logo4 {
  width: 100%;
  padding-top: 190px;
  max-width: 50rem;
  display: block;
  z-index: 6;
}
img.fynista1 {
  position: relative;
  width: 100%;
}
/* End Homepage*/

/* card*/
div.content {
  padding: 4rem 0;
  max-width: 380px;
  margin: 0 auto;
}
.ui.card {
  margin: 0 auto;
  margin-bottom: 2rem;
}
/* end card*/
/* About*/
.section-center {
  padding: 0rem 0;
  width: 80vw;
  max-width: 1173px;
  margin: 0 auto;
}
.about-img,
.about-info {
  padding: 2rem 0;
}
.about-picture-container {
  /* OVerflow*/
  overflow: hidden;
}
.about-picture {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.about-picture-container:hover .about-picture {
  opacity: 0.5;
}
.about-text {
  margin: 0 auto;
  max-width: 30rem;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: left;
}

@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
    padding: 1rem;
  }
  .section-title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 10rem;
  }
}
/* End about*/

/* Skills*/
.content-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  max-width: 70rem;
}
.fullstackLogo {
  margin: auto;
  width: 100%;
  display: flex;

  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.designLogo {
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skyLeft {
  animation: fadeInLeft ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skyRight {
  animation: fadeInRight ease 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* end Skills*/

/* Middle*/
div.middle {
  width: 90vw;
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: 0 auto;
  justify-content: center;
}
img.thaiAir {
  width: 100%;
  max-width: 150rem;
}
.middleText {
  max-width: 30rem;
  justify-content: ;
  text-align: left;
}
.middleTitle {
  max-width: 24rem;
  justify-content: ;
  text-align: center;
}
.middleBox {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 10rem;
}
.middleImg {
}

/* End Middle*/

/* Banner*/
.banner {
  position: absolute;
  top: 40%;
  left: 50%;
  bottom: 10%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: var(--gold);
  letter-spacing: var(--letterSpacing);
  margin-top: 100px;
}
.banner-subtitle {
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  color: black;
  letter-spacing: var(--letterSpacing1);
  width: 80vw;
}

.banner-title {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
  line-height: 1;
  animation: slideFromLeft 5s ease-in-out 1;
  color: var(--gold);
}
/* endBanner*/

/* Footer*/
.svg2 {
  position: relative;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  margin: 0 auto;
  left: 0;
}
div.footer {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

div.info {
  justify-content: center;
}

.footerBg {
  position: relative;
  height: 20vh;
  display: block;
}
.footerBg-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(200deg, var(--lightBlack), var(--mainBlack));
  z-index: -1;
}
.footText {
  color: white;
  font-size: 1.1rem;
  text-align: center;
  padding: 2rem 0;
}

/* end footer*/

@media screen and (min-width: 768px) {
  img.fynista1 {
    position: relative;
    width: 100%;
  }
  .section-title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 5rem;
  }
  div.content1 {
    padding: 4rem 0;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 10%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: var(--gold);
    letter-spacing: var(--letterSpacing);
    margin-top: 100px;
  }
  .banner-subtitle {
    font-size: 1.3rem;
    font-family: "Raleway", sans-serif;
    color: black;
    width: 80vw;
  }

  .banner-title {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    margin-top: 2rem;
    line-height: 1;
    animation: slideFromLeft 5s ease-in-out 1;
    color: var(--gold);
  }
  .logo4 {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 40rem;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 6;
  }

  div.middle {
    width: 90vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    justify-content: center;
  }
  img.thaiAir {
    width: 100%;
    max-width: 150rem;
  }
  .middleText {
    max-width: 40rem;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    font-size: 1.3rem;
  }
  .middleTitle {
    max-width: 40rem;
    justify-content: ;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 2rem;
    padding-top: 20px;
  }
  .middleBox {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 10rem;
  }
  .middleImg {
  }
  .footerBg-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 190px;
    background: linear-gradient(200deg, var(--lightBlack), var(--mainBlack));
    z-index: -1;
  }
}
@media screen and (min-width: 800px) {
  img.fynista1 {
    position: relative;
    width: 100%;
  }
  .section-title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 10rem;
  }
  div.content1 {
    padding: 4rem 0;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr s;
  }
  .ui.card {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .middleTitle {
    max-width: 30rem;
    justify-content: ;
    text-align: center;
    padding-top: 10px;
  }
  .logo4 {
    width: 100%;
    padding-top: 140px;
    padding-bottom: 40rem;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 6;
  }
}
@media screen and (min-width: 1020px) {
  .logo4 {
    width: 100%;
    padding-top: 140px;
    padding-bottom: 40rem;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 6;
  }
  .section-title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 10rem;
  }

  img.fynista1 {
    position: relative;
    width: 100%;
  }

  .content-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
    max-width: 70rem;
  }
  div.content1 {
    width: 900vw;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
  }
  .ui.card {
    margin: 0 auto;
  }
  .header1 {
    height: 200px;
  }
  .middleTitle {
    max-width: 30rem;
    justify-content: ;
    text-align: left;
    padding-top: 30px;
    font-size: 1.4rem;
  }

  .footText {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem 0 0 0;
  }
  .footerBg {
    position: relative;
    height: 20vh;
    display: block;
  }
  .footerBg-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background: linear-gradient(200deg, var(--lightBlack), var(--mainBlack));
    z-index: -1;
  }
  .aboutBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1500px;
    margin: 0 auto;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    margin: 0 auto;
    padding: 0.5rem 2;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-style: italic;
    background: cornflowerblue;
  }
  .hidden {
    transform: translate(0, -2.25rem);
  }
  nav a {
    margin-right: 1rem;
    font-weight: normal;
  }
  .brand {
    margin-left: 1rem;
    font-weight: bold;
    color: white;
  }
  .section-title1 {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
}
/*nav*/

/* Navbar */
.navbar {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;

  z-index: 1;
}
li.link {
  list-style: none;
  display: inline-block;
  float: right;
  margin-right: 2rem;

  justify-content: center;
}
a {
  color: black;
}

/* end nav*/

/* Header*/
div.header1 {
  position: relative;
  height: 400px;
  display: block;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(600deg, var(--lightPink), var(--darkPink));
  transform-origin: 0px 0px;
  transform: skewY(-10deg);
  overflow: hidden;
  z-index: -1;
}

/* End Header*/

/* Aboutme*/

.aboutMe {
  width: 100%;
}
/* End Aboutme*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  z-index: 10;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  z-index: 4;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 180px;
  background: var(--offWhite);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

@media only screen and (min-width: 4095px) and (max-width: 5120px) {
  .logo4 {
    margin-bottom: 10px;
  }
}
